imgProduct a {
  display: block; /* Make the <a> block-level to center content */
  text-align: center; /* Center text inside the <a> */
}

.imgProduct img {
  display: block; /* Ensure image is block-level to respect centering */
  margin: 0 auto; /* Center image horizontally */
}
 /* for desktop */
.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  left: 50%;
  top: 50%;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;}
  .whatsapp-icon {
    margin-top: 16px;
  } */
  .whatsapp_float {
    position: fixed;
    bottom: 40px;
    right: 40px;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: #25d366;
    border-radius: 50%;
    padding: 10px; /* Adjust for padding around the icon */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow effect */
  }
  .whatsapp-icon {
    font-size: 40px;
    color: white;
  }